<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cliente Internacional</title>
    <base href="../">

    <div th:replace="componentes/base :: load-styles"></div>

</head>
<body>
<div th:replace="componentes/base :: load-menus"></div>


<div class="container mt-10">
    <h3 class="mb-4">Bienvenidos a Feria Virtual</h3>
    <p>Por favor navega entre las opciones disponibles que tenemos para ti.<br>
        Recuerda consultar el manual de usuario del sistema para cualquier consulta que tengas, no obstante, comunicate con
        el administrador de Feria Virtual para otras dudas.</p>
</div>


<div th:replace="componentes/base :: load-scripts"></div>
</body>
</html>