<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transportistas | Informar entregas</title>

    <base href="../">
    <div th:replace="componentes/base :: load-styles"></div>


</head>
<body>

<div th:replace="componentes/base :: load-menus"></div>

<div class="container">
    <table class="table" >
        <thead>
        <tr>
            <th scope="col">Pedido</th>
            <th scope="col">Producto</th>
            <th scope="col">Kilogramos</th>
            <th scope="col">Fecha Creación</th>
            <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pv : ${listaProcesoVentaCompleto}">
            <th th:text="${'#' + pv.Solicitud_compra.id}"></th>
            <td th:text="${pv.Solicitud_compra.producto}"></td>
            <td th:text="${new java.text.DecimalFormat('###,###,###').format(pv.Solicitud_compra.kilogramos)}"></td>
            <td th:text="${#dates.format(pv.ProcesoVenta.fechacreacion, 'dd-MM-yyyy')}"></td>
            <td>
                <a href="#"
                   data-toggle="modal"
                   data-target="#ver_detalle"
                   class="btn btn-primary"
                   th:attr="data-proceso_venta_id='__${pv.ProcesoVenta.id}__',
                                        data-producto='__${pv.Solicitud_compra.producto}__',
                                        data-kilogramos='__${new java.text.DecimalFormat('###,###,###').format(pv.Solicitud_compra.kilogramos)}__',
                                        data-fechacreacion='__${#dates.format(pv.ProcesoVenta.fechacreacion, 'dd-MM-yyyy')}__'">
                    Informar entrega
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${listaProcesoVentaCompleto.size()} == 0" class="alert alert-info my-3" role="alert">
        No hay datos disponibles para mostrar.
    </div>
</div>

<div th:replace="componentes/base :: load-scripts"></div>

<!--begin::ver_detalle-->
<div class="modal fade" id="ver_detalle" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle del servicio realizado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container modal-body">
                <!--begin::Form-->
                <div class="kt-portlet__body">
                    <input type="hidden" id="csrf" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <input type="hidden" id="procesoventa_id" />

                    <div class="row">
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label>Fruta</label>
                                <input id="producto_descripcion"
                                       type="text"
                                       class="form-control"
                                       aria-describedby="producto_descripcion"
                                       disabled="disabled">
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label>Kilogramos</label>
                                <input id="producto_kilogramos"
                                       type="text"
                                       class="form-control"
                                       aria-describedby="producto_kilogramos"
                                       disabled="disabled">
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label>Fecha solicitud</label>
                                <input id="fechasolicitud"
                                       type="text"
                                       class="form-control"
                                       aria-describedby="fechasolicitud"
                                       disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Proveedor</th>
                                <th scope="col">Kilogramos</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Comuna</th>
                            </tr>
                            </thead>
                            <tbody id="tabla_dinamica_ver_detalle">
                            </tbody>
                        </table>
                    </div>
                </div>


                <!--end::Form-->
            </div>
            <div class="modal-footer">
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <button type="submit"
                                class="btn btn-success btn_informar">Informar entrega</button>
                        <button type="button" data-dismiss="modal"
                                class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::ver_detalle-->

<script src="./assets/custom/transportista/informar.js" type="text/javascript"></script>

</body>
</html>