<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transportistas | Subastas disponibles</title>

    <base href="../">
    <div th:replace="componentes/base :: load-styles"></div>


</head>
<body>

<div th:replace="componentes/base :: load-menus"></div>


<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Cliente</th>
            <th scope="col">Producto</th>
            <th scope="col">Kilogramos</th>
            <th scope="col">Dirección</th>
            <th scope="col">Fecha Término</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>


<div th:replace="componentes/base :: load-scripts"></div>

</body>
</html>