<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <base href="../">

    <div th:replace="componentes/base :: load-styles"></div>

</head>
<body>
<div th:replace="componentes/base :: load-menus"></div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Pedido</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="procesoventa : ${lista_procesoventa}">
            <th scope="row">1</th>
            <td th:text="${procesoventa.Id}"></td>
            <td th:text="${procesoventa.INGRESO_id}"></td>


            <td>
                <a class="btn btn-success" th:href="@{/productor/ingresarproducto}">Postular</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div th:replace="componentes/base :: load-scripts"></div>
</body>
</html>